<ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <ion-tab title="TV Shows" icon-off="ion-android-desktop" icon-on="ion-android-desktop" href="#/tab/shows">
        <ion-nav-view name="tab-shows"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Movies" icon-off="ion-android-film" icon-on="ion-android-film" href="#/tab/movies">
        <ion-nav-view name="tab-movies"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Music" icon-off="ion-android-volume-down" icon-on="ion-android-volume-down" href="#/tab/music">
        <ion-nav-view name="tab-music"></ion-nav-view>
    </ion-tab>
</ion-tabs>
